<app-title title="Control flow"/>
<section class="grid grid-cols-1 gap-3 pb-2 md:grid-cols-2">
  <!-- ng if -->
  <div class="p-10 bg-white rounded shadow">
    <h2 class="mb-5 text-2xl font-bold">if: {{ showContent() }}</h2>
    <button
      (click)="toggleContent()"
      class="p-2 text-white bg-blue-500 rounded"
    >
      Click me!
    </button>
    @if (showContent()) {
    <p>Hola mundo</p>
    } @else {
    <p>************</p>
    }
  </div>

  <!-- swift -->
  <div class="p-10 bg-white rounded shadow">
    <p>Calificación: {{ grade() }}</p>
    <p>Nota: {{ nota() }}</p>
    @switch (grade()) { @case ('A') {
    <p>Arriba de 90</p>
    } @case ('B') {
    <p>Arriba de 80</p>
    } @case ('C') {
    <p>Arriba de 50</p>
    } @default {
    <p>Reprobado</p>
    } }
    <button (click)="toggleGrade()" class="p-2 text-white bg-blue-500 rounded">
      Calcular
    </button>
  </div>

  <!-- for -->
  <div class="p-10 bg-white rounded shadow">
    <ul>
      @for (framework of frameworks(); track framework;
      let i = $index,
      firts = $first,
      last = $last,
      even = $even,
      odd = $odd,
      count = $count
      ) {
      <li [class]="{
        'bg-red-100': even && !firts && !last,
        'bg-yellow-100': odd && !firts && !last,
        'bg-blue-100': firts || last,
      }">
        {{ i + 1 }} / {{count}}. {{ framework }}
      </li>
      }
    </ul>
  </div>

  <!-- for -->
  <div class="p-10 bg-white rounded shadow">
    <ul>
      @for (framework of frameworks2(); track $index) {
      <li>{{ framework }}</li>
      } @empty {
      <li>No hay datos para mostrar</li>
      }
    </ul>
  </div>
</section>
